/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.custom-navbar-brand svg {
		width: 170px;
	}
	.hero-banner {
		padding: 60px 0;
		padding-bottom: 60px;
	}	
	.hero-content h2 {
		font-size: 20px;
	}
	.hero-content p {
		font-size: 12px;
		width: 95%;
	}
	.hero-form {
		padding: 0 10px;
	}
	.hero-form input {
		font-size: 15px;
	}
	.custom-form-group-button {
		margin: 0;
		padding: 0;
	}
	.custom-banner-search-btn {
		width: 100%;
	}
	.city-page-banner {
		padding: 250px 0;
		padding-bottom: 50px;
	}
	.city-page-banner-content h2 {
		font-size: 40px;
		line-height: 40px;
		letter-spacing: -1px;
		margin-bottom: 30px;
	}
	.city-page-banner-content p {
		font-size: 14px;
		line-height: 20px;
		width: 100%;
	}
	.how-it-works {
		padding: 50px 0;
	}
	.work-section-content h2 {
		font-size: 28px;
		line-height: 40px;
	}
	.icon-box-color-2 h4 {
		margin-bottom: 50px;
	}
	.icon-box-color-4 h4 {
		margin-bottom: 50px;
	}
	.city-details-section {
		padding: 50px 0 20px 0;
	}
	.city-details-content {
		padding-left: 20px;
		padding-top: 180px;
	}
	.city-details-content h3 {
		font-size: 48px;
	}
	.city-details-content-second h3 {
		font-size: 35px;
	}
	.city-details-content p {
		font-size: 14px;
	}
	.city-details-content-second p {
		font-size: 16px;
		line-height: 24px;
	}
	.city-details-btn-top-margin {
		padding-top: 20px;
	}
	.slick-next, .slick-prev {
		padding: 5px 8px;
	}
	.slick-prev {
		position: absolute;
		top: 100px;
		left: -40px;
	}
	.slick-next {
		position: absolute;
		top: 100px;
		right: -40px;
	}
	.card-title {
		font-size: 16px;
		width: 100%;
	}
	.card-body p {
		font-size: 12px;
	}
	.card-body li p {
		margin-bottom: 5px;
	}
	.newsletter-section {
		padding: 30px 0;
	}
	.newsletter-content h2 {
		font-size: 30px;
		line-height: 35px;
	}
	.newsletter-vector-design-img {
		position: absolute;
		bottom: -230px;
		left: -240px;
	}
	.newsletter-form input {
		width: 300px!important;
	}
	.newsletter-submit-btn {
		margin-top: 20px;
	}
	.city-collection-section {
		padding: 70px 0;
	}
	.city-collection-header h2 {
		font-size: 30px;
	}
	.collection-card-img-top {
		height: 200px;
	}
	.collection-spot-mark {
		font-size: 14px;
		line-height: 12px;
	}
	.collection-card-body p {
		font-size: 14px;
		line-height: 20px;
		width: 100%;
	}
	.collection-card-title {
		font-size: 20px;
	}
	.article-section {
		padding-bottom: 60px;
	}
	.article-text-content {
		margin-bottom: 50px;
	}
	.article-text-content h2 {
		font-size: 28px;
	}
	.article-text-content p {
		font-size: 16px;
	}
	.brand-testimonial-section {
		padding: 50px 0;
	}
	.testimonial-text-content h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.testimonial-text-content h5 {
		font-size: 20px;
		line-height: 30px;
	}
	.testimonial-text-content svg {
		position: absolute;
		top: 55%;
		bottom: 0;
		left: -10px;
	}
	.mobile-top-margin {
		margin-top: 50px;
	}
	.image-gallery-text-content {
		padding-top: 0;
		padding-left: 10px;
	}
	.image-gallery-text-content h4 {
		font-size: 30px;
	}
	.image-gallery-text-content p {
		margin-bottom: 15px;
	}
	.image-gallery-text-content h6 {
		font-size: 14px;
		line-height: 24px;
	}
	.more-image-overlay a {
	    color: #fff;
	    position: absolute;
	    top: 45%;
	    left: 20%;
	    margin: 0 auto;
	    vertical-align: middle;
	    font-size: 12px;
	    line-height: 20px;
	    font-weight: 700;
	}
	.detail-box-text-content {
	    padding-left: 10px;
	    padding-bottom: 50px;
	}
	.detail-box-text-content h3 {
		font-size: 25px;
	}
	.detail-box-text-content p {
		font-size: 14px;
		line-height: 24px;
	}
	.custom-accordion {
		margin-left: 0;
	}
	.legal-insight-header h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.budget-calculator-wrapper {
		padding: 10px;
		padding-bottom: 10px;
	}
	.calculation-type-content {
		font-size: 16px;
	}
	.calculation-type-name {
		font-size: 12px;
	}
	.budget-calculator-header h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.budget-calculator-header p {
		font-size: 12px;
	}
	.budget-calculator-result {
		margin-top: 50px;
	}
	.budget-calculator-result h6 {
		font-size: 12px;
	}
	.budget-calculator-result p {
		font-size: 12px;
	}
	.calculation-type-name {
		font-size: 14px;
	}
	.calculation-type-content {
		font-size: 18px;
		margin: 0 0;
	}
	.calculator-total-name {
		font-size: 12px;
	}
	.calculator-total-number {
		font-size: 16px;
	}
	.city-search-header h2 {
	    font-size: 30px;
	}
	.has-search .form-control-feedback {
	    line-height: 40px;
	    font-size: 18px;
	}
	.custom-input-group {
		font-size: 20px;
	}
	.city-search-result-content {
		margin-top: 20px;
	}
	.page-item.disabled .page-link {
		font-size: 10px;
		padding: 6px 10px;
	}
	.page-item {
		margin: 0 2px;
	}
	.page-link {
	    padding: 6px 10px;
		font-size: 10px;
	}
	.footer-first-column svg {
		width: 100%;
	}
	.footer-social-icon ul:nth-child(2) li {
		margin-right: 20px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.city-page-banner {
		padding: 250px 0;
		padding-bottom: 50px;
	}
	.city-page-banner-content h2 {
		font-size: 45px;
		line-height: 45px;
		letter-spacing: -1px;
		margin-bottom: 30px;
	}
	.city-page-banner-content p {
		font-size: 14px;
		line-height: 20px;
		width: 100%;
	}
	.city-page-nav-section {
		padding-top: 20px;
	}
	.city-page-nav li {
		margin-right: 12px;
	}
	.city-page-nav li a {
		padding: 0;
		padding-bottom: 20px;
		font-size: 12px;
	}
	.city-page-nav li a:hover, .city-page-nav li a.active {
		padding-bottom: 20px;
	}
	.hero-banner {
		padding: 80px 0;
		padding-bottom: 80px;
	}
	.hero-content h2 {
		font-size: 35px;
	}
	.hero-content p {
		font-size: 16px;
		width: 85%;
	}
	.hero-form {
		padding: 0 20px;
	}
	.form-background {
	    padding-right: 15px;
	}
	.custom-banner-search-btn {
	    padding: 25px 30px 30px 24px!important;
	    width: 70px;
	}
	.work-section-content h2 {
		font-size: 28px;
	}
	.icon-box-color-2 h4 {
		margin-bottom: 50px;
	}
	.icon-box-color-4 h4 {
		margin-bottom: 50px;
	}
	.city-details-content {
		padding-left: 20px;
		padding-top: 250px;
	}
	.city-details-content h3 {
		font-size: 48px;
	}
	.city-details-content p {
		font-size: 14px;
	}
	.city-details-btn-top-margin {
		padding-top: 20px;
	}
	.slick-prev {
		position: absolute;
		top: 100px;
		left: -65px;
	}
	.slick-next {
		position: absolute;
		top: 100px;
		right: -65px;
	}
	.newsletter-content h2 {
		font-size: 30px;
		line-height: 44px;
	}
	.newsletter-vector-design-img {
		position: absolute;
		bottom: -230px;
		left: -240px;
	}
	.newsletter-form input {
		width: 320px!important;
	}
	.city-collection-header h2 {
		font-size: 40px;
	}
	.collection-card-img-top {
		height: 300px;
	}
	.article-text-content {
		margin-bottom: 50px;
	}
	.article-text-content h2 {
		font-size: 28px;
	}
	.article-text-content p {
		font-size: 16px;
	}
	.testimonial-text-content h2 {
		color: #393F3E;
		font-size: 40px;
		font-weight: 800;
		line-height: 64px;
		margin-bottom: 60px;
	}
	.testimonial-text-content h5 {
		font-size: 25px;
		line-height: 40px;
	}
	.testimonial-text-content svg {
		position: absolute;
		top: 55%;
		bottom: 0;
		left: -10px;
	}
	.mobile-top-margin {
		margin-top: 50px;
	}
	.image-gallery-text-content {
		padding-top: 0;
		padding-left: 20px;
	}
	.image-gallery-text-content h4 {
		font-size: 30px;
	}
	.image-gallery-text-content p {
		margin-bottom: 15px;
	}
	.image-gallery-text-content h6 {
		font-size: 14px;
		line-height: 24px;
	}
	.detail-box-text-content {
	    padding-left: 10px;
	    padding-bottom: 50px;
	}
	.detail-box-text-content h3 {
		font-size: 30px;
	}
	.detail-box-text-content p {
		font-size: 16px;
		line-height: 24px;
	}
	.custom-accordion {
		margin-left: 5px;
	}
	.legal-insight-header h2 {
		font-size: 35px;
		margin-bottom: 30px;
	}
	.budget-calculator-wrapper {
		padding: 40px;
		padding-bottom: 20px;
	}
	.calculation-type-content {
		font-size: 16px;
	}
	.calculation-type-name {
		font-size: 12px;
	}
	.budget-calculator-header h2 {
		font-size: 35px;
	}
	.budget-calculator-header p {
		font-size: 14px;
	}
	.budget-calculator-result {
		margin-top: 50px;
	}
	.budget-calculator-result h6 {
		font-size: 12px;
	}
	.budget-calculator-result p {
		font-size: 12px;
	}
	.city-search-header h2 {
	    font-size: 35px;
	}
	.has-search .form-control-feedback {
	    line-height: 44px;
	    font-size: 18px;
	}
	.custom-input-group {
		font-size: 22px;
	}
	.city-search-result-content {
		margin-top: 20px;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.city-page-banner {
		padding: 250px 0;
		padding-bottom: 50px;
	}
	.city-page-banner-content h2 {
		font-size: 50px;
		line-height: 50px;
		font-weight: 800;
		letter-spacing: -1px;
		color: #fff;
		margin-bottom: 30px;
	}
	.city-page-banner-content p {
		font-size: 16px;
		line-height: 20px;
		width: 90%;
	}
	.city-page-nav li {
		margin-right: 25px;
	}
	.city-page-nav li a {
		padding: 0;
		padding-bottom: 30px;
		font-size: 14px;
	}
	.hero-banner {
		padding: 100px 0;
		padding-bottom: 100px;
	}
	.custom-banner-search-btn {
	    width: 100px;
	}
	.hero-content h2 {
		font-size: 50px;
	}
	.hero-content p {
		font-size: 16px;
		width: 65%;
	}
	.hero-form {
		padding: 0 20px;
	}
	.work-section-content h2 {
		font-size: 35px;
	}
	.icon-box-color-2 h4 {
		margin-bottom: 50px;
	}
	.icon-box-color-4 h4 {
		margin-bottom: 50px;
	}
	.city-details-content {
		padding-left: 20px;
		padding-top: 250px;
	}
	.city-details-content h3 {
		font-size: 48px;
	}
	.city-details-content p {
		font-size: 14px;
	}
	.city-details-btn-top-margin {
		padding-top: 350px;
	}
	.slick-prev {
		position: absolute;
		top: 100px;
		left: -60px;
	}
	.slick-next {
		position: absolute;
		top: 100px;
		right: -60px;
	}
	.newsletter-content h2 {
		font-size: 30px;
		line-height: 44px;
	}
	.newsletter-vector-design-img {
		position: absolute;
		bottom: -160px;
		left: -190px;
	}
	.newsletter-form input {
		width: 220px!important;
	}
	.city-collection-header h2 {
		font-size: 40px;
	}
	.collection-card-img-top {
		height: 300px;
	}
	.article-text-content h2 {
		font-size: 28px;
	}
	.article-text-content p {
		font-size: 16px;
	}
	.testimonial-text-content h2 {
		color: #393F3E;
		font-size: 40px;
		font-weight: 800;
		line-height: 64px;
		margin-bottom: 60px;
	}
	.testimonial-text-content h5 {
		font-size: 25px;
		line-height: 40px;
	}
	.testimonial-text-content svg {
		position: absolute;
		top: 45%;
		bottom: 0;
		left: -10px;
	}
	.image-gallery-text-content {
		padding-top: 0;
		padding-left: 20px;
	}
	.image-gallery-text-content h4 {
		font-size: 30px;
	}
	.image-gallery-text-content p {
		margin-bottom: 15px;
	}
	.image-gallery-text-content h6 {
		font-size: 14px;
		line-height: 24px;
	}
	.detail-box-text-content {
	    padding-left: 5px;
	    padding-bottom: 50px;
	}
	.detail-box-text-content h3 {
		font-size: 25px;
		line-height: 40px;
	}
	.detail-box-text-content p {
		font-size: 14px;
		line-height: 20px;
	}
	.custom-accordion {
		margin-left: 10px;
	}
	.legal-insight-header h2 {
		font-size: 40px;
		margin-bottom: 30px;
	}
	.budget-calculator-header h2 {
		font-size: 40px;
	}
	.budget-calculator-header p {
		font-size: 16px;
	}
	.budget-calculator-result {
		margin-top: 50px;
	}
	.city-search-header h2 {
	    font-size: 40px;
	}
	.city-search-result-content {
		margin-top: 30px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.hero-form {
		padding: 0 20px;
	}
	.city-page-banner {
		padding: 400px 0;
		padding-bottom: 50px;
	}
	.city-page-banner-content p {
		width: 85%;
	}
	.city-page-nav li {
		margin-right: 40px;
	}
	.form-background {
	    padding-right: 28px;
	}
	.work-section-content h2 {
		font-size: 48px;
	}
	.work-icon-box {
		padding: 50px 20px;
	}
	.slick-prev {
		position: absolute;
		top: 100px;
		left: -70px;
	}
	.slick-next {
		position: absolute;
		top: 100px;
		right: -70px;
	}
	.card-title {
		font-size: 16px;
		width: 100%;
	}
	.newsletter-content h2 {
		font-size: 48px;
	}
	.newsletter-vector-design-img {
		position: absolute;
		bottom: -230px;
		left: -240px;
	}
	.newsletter-form input {
		width: 300px!important;
	}
	.city-collection-header h2 {
		font-size: 48px;
	}
	.collection-card-title {
		font-size: 22px;
	}
	.article-text-content h2 {
		font-size: 38px;
	}
	.article-text-content p {
		font-size: 16px;
	}
	.testimonial-text-content h2 {
		font-size: 48px;
	}
	.testimonial-text-content h5 {
		font-size: 24px;
	}
	.testimonial-text-content svg {
		position: absolute;
		top: 45%;
		bottom: 0;
		left: -40px;
	}
	.image-gallery-text-content p {
		margin-bottom: 35px;
	}
	.budget-calculator-header h2 {
		font-size: 48px;
	}
	.budget-calculator-header p {
		font-size: 16px;
	}
	.budget-calculator-wrapper {
		padding: 40px;
	}
	.calculation-type-content {
		font-size: 16px;
	}
	.calculation-type-name {
		font-size: 12px;
	}
	.footer-social-icon ul:nth-child(2) li {
		margin-right: 30px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}